@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gantari', sans-serif;
  @apply text-slate-800;
}

:root {
  --primary: hsl(207, 82%, 42%);
  --primary-transparent-10: hsla(207, 82%, 42%, 10%);
}

@layer components {
  .box {
    @apply max-w-7xl mx-auto px-4 md:px-6;
  }

  .page {
    @apply py-8 h-full flex flex-col;
  }

  .page-header {
    @apply mb-6;
  }

  .page-header-text {
    @apply text-2xl font-bold text-slate-900;
  }

  .modal-header {
    @apply text-xl font-bold text-slate-700;
  }

  .icon-xxs {
    width: 16px !important;
    height: 16px !important;
  }

  .icon-xs {
    width: 18px !important;
    height: 18px !important;
  }

  .icon-sm {
    width: 20px !important;
    height: 20px !important;
  }

  .icon-base {
    width: 24px !important;
    height: 24px !important;
  }

  .icon-md {
    width: 28px !important;
    height: 28px !important;
  }

  .icon-lg {
    width: 32px !important;
    height: 32px !important;
  }
}
